*{
    font-family:'Montserrat Alternates';
    color: white;
}

body{
    background: #eb6161;
}

.cajas-informacion{
    background: black;
    height: 70px;
    width: 1280px;
    position: relative;
    border-bottom: white 1px solid;
    margin: 0px 0px 20px 0px;   

}

.cajas-informacion__1,.cajas-informacion__2,.cajas-informacion__3{
font-size: 17px;
font-family:'Montserrat Alternates';
font-weight: 700;
color: white;
background: black;
height: 39px;
width: 138px;
position: relative;
z-index: 100;
top: -49px;
left: 415px;
border: solid 1px white;
display: inline-block;
padding: 8px 8px;
text-align: center; 
}


.cajas-informacion__img{
height: 60px;
width: 60px;
background: black;
display: inline-block;
position: relative;
top: 5px;
left: 30px;
border: solid 1px white;
border-radius: 50%;
padding: 0px 5px 0px 5px;

}

.cajas-informacion__img {
    display: inline-block;
    position: relative;
    top: 50em;
    height: 60em;
    width: 60em;
    margin: 10em 20em;
    border-radius: 128em;
    background-color: #121212;
    cursor: pointer;
    transition: color 0.8s linear, background 0.8s linear, box-shadow 0.1s linear, transform 0.1s linear;
  }
  .cajas-informacion__img:hover {
    background-color: #DCDCDC;
  }
  .cajas-informacion__img::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
  
    line-height: 0.8em;
    border-radius: 0.35em;
    outline: 1px solid transparent;
    color: #FFF;
    background: #FFF;
    overflow: visible;
    transform: rotate(42.5deg) skew(-15deg, -10deg);
    filter: blur(0);
  
  }
  .cajas-informacion__img::after {
    content: '';
    display: block;
    position: absolute;
    top: 3.8em;
    left: 50%;
    margin-left: -0.45em;
    border-radius: 0.4em;
    outline: 1px solid transparent;
    color: #FFF;
    background: #FFF;
    box-shadow: 4.45em 2.6em 0, -0.05em 5.4em 0, -4.4em 2.65em 0;
  }
  .cajas-informacion__img:hover {
    box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.75);
    transform: scale(1.02);
  }
  .cajas-informacion__img:hover::before, div.cajas-informacion__img:hover::after {
    color: #000;
    background: #000;
  }

.caja-mision__Mision{
position: relative;
font-size: 30px;
font-weight: 600;
padding: 30px 460px 0px 460px;
height: 250px;
width: 1050px;
background: black;
border: solid 1px white;
margin: 10px 100px;
}

.caja-mision__Parrafo{
height: 120px;
width: 930px;
background: none;
font-weight: 600;
font-size: 16px;
border: solid 1px white;
border-radius: 7px;
display: inline-block;
position: relative;
left: 58px;
top: -170px;
z-index: 100;
margin: 10px 100px;
padding: 30px 10px;

}

ul {
    list-style: none;
    padding: 0px;
    margin-left: 15px;
}

ul li::before {
    content: "\2022";
    color: white;
    display: inline-block;
    padding-right: 20px;
    font-size: 150px;
    line-height: 15px;
    vertical-align: -36px;
    width: 15px;
}


