* {
  font-family: 'Work Sans', sans-serif;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url("../Imagenes\ Background/1000 Wallpapers For Smarphone.png");
  background-repeat: no-repeat;
  background-size: 18px;
  background-size: 1500px;
}

.cajas-informacion {
  background: rgba(0, 0, 0, 0.8);
  height: 90px;
  width: 1263px;
  position: absolute;
  top: 0px;
  border-bottom: white 0px solid;
  margin: 0px 0px 20px 0px;
  box-shadow: 1px 1px 3px white;
}

.cajas-informacion__1,
.cajas-informacion__2,
.cajas-informacion__3 {
  font-size: 17px;
  font-family: "Montserrat Alternates";
  font-weight: 700;
  color: white;
  background: black;
  height: 39px;
  width: 138px;
  position: relative;
  z-index: 100;
  top: 25px;
  left: 415px;
  border: none;
  display: inline-block;
  padding: 8px 8px;
  text-align: center;
  box-shadow: 0px 0px 3px white;
}
.cajas-informacion__1,
.cajas-informacion__2,
.cajas-informacion__3 {
  display: inline-block;
  transition: background-color 0.5s;
}

.cajas-informacion__1:hover {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.248);
}
.cajas-informacion__2:hover {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.248);
}

.cajas-informacion__3:hover {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.248);
}

.cajas-informacion__img {
  height: 60px;
  width: 60px;
  background: black;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 30px;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  border-radius: 128px;
}

.cajas-informacion__img {
  background-color: #121212;
  cursor: pointer;
  transition: color 0.8s linear, background 0.8s linear, box-shadow 0.1s linear,
    transform 0.1s linear;
}
.cajas-informacion__img:hover {
  background-color: rgba(255, 255, 255, 0.734);
}
.cajas-informacion__img::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 30px;
  line-height: 0.8em;
  border-radius: 0.35px;
  outline: 1px solid transparent;
  color: #fff;
  background: #fff;
  overflow: visible;
  transform: rotate(42.5deg) skew(-15deg, -10deg);
  filter: blur(0);
}
.cajas-informacion__imgn::after {
  content: "";
  display: block;
  position: absolute;
  top: 3.8em;
  left: 50%;

  margin-left: -0.45em;
  border-radius: 0.4em;
  outline: 1px solid transparent;
  color: #fff;
  background: #fff;
  box-shadow: 4.45em 2.6em 0, -0.05em 5.4em 0, -4.4em 2.65em 0;
}
.cajas-informacion__img:hover {
  box-shadow: 0 0 1em 0.1em rgba(0, 0, 0, 0.75);
  transform: scale(1.02);
}
.cajas-informacion__img::before,
.cajas-informacion__img:hover::after {
  color: #000;
  background: #000;
}

.caja-mision__Mision {
  text-align: center;
  position: absolute;
  top: 70px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  padding: 30px 460px 0px 460px;
  height: 290px;
  width: 1050px;
  background: rgba(0, 0, 0, 0.8);
  border: solid 1px white;
  margin: 60px 100px 10px 100px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px white;
}

.caja-mision__Parrafo {
  height: 180px;
  line-height: 2;
  width: 930px;
  background: none;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 7px;
  display: inline-block;
  position: absolute;
  left: 58px;
  top: 180px;
  z-index: 100;
  margin: 30px 100px;
  padding: 20px 10px;
  box-shadow: 0px 0px 2px white;
}

.caja-Vision__Vision {
  text-align: center;
  position: absolute;
  top: 380px;
  font-size: 30px;
  font-weight: 600;
  padding: 30px 460px 0px 460px;
  height: 520px;
  width: 1050px;
  background: rgba(0, 0, 0, 0.8);
  border: solid 1px white;
  margin: 80px 100px;
  text-align: center;
  box-shadow: 0px 0px 2px white;
}

.ListaDesOrdenada {
  height: 410px;
  width: 930px;
  background: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  border: none;
  border-radius: 7px;
  display: inline-block;
  position: absolute;
  left: 58px;
  top: 520px;
  z-index: 100;
  margin: 10px 100px;
  padding: 15px 10px 10px 10px;
  box-shadow: 0px 0px 2px white;
}

.Caja-Filosofia__Filosofia {
  text-align: center;
  position: absolute;
  top: 980px;
  font-size: 30px;
  font-weight: 600;
  padding: 30px 460px 0px 460px;
  height: 340px;
  width: 1050px;
  background: rgba(0, 0, 0, 0.8);
  border: solid 1px white;
  margin: 40px 100px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0px 0px 2px white;
}

.Caja-Filosofia__Parrafo {
  height: 250px;
  width: 930px;
  background: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  border: none;
  border-radius: 7px;
  display: inline-block;
  position: absolute;
  left: 58px;
  top: 1060px;
  z-index: 100;
  margin: 30px 100px;
  padding: 10px 10px;
  box-shadow: 0px 0px 2px white;
}

.Caja-Soluciona__Solucion {
  text-align: center;
  position: absolute;
  top: 1290px;
  font-size: 30px;
  font-weight: 600;
  padding: 30px 190px 0px 190px;
  height: 390px;
  width: 1050px;
  background: rgba(0, 0, 0, 0.8);
  border: solid 1px white;
  margin: 110px 100px;
  box-shadow: 0px 0px 2px white;
}

.Caja-Soluciona__Parrafo {
  height: 290px;
  width: 930px;
  background: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  border: none;
  border-radius: 7px;
  position: absolute;
  left: 58px;
  top: 1470px;
  z-index: 100;
  margin: 10px 100px;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 2px white;
  
}

.Caja-justificacion__justificacion {
  position: absolute;
  top: 1800px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  padding: 30px 260px 0px 260px;
  height: 370px;
  width: 1050px;
  background: rgba(0, 0, 0, 0.8);
  border: solid 1px white;
  margin: 10px 100px;
  box-shadow: 0px 0px 2px white;
}

.Caja-justificacion__Parrafo {
  height: 240px;
  width: 930px;
  background: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  border: none;
  border-radius: 7px;
  position: absolute;
  top: 1860px;
  left: 58px;
  margin: 10px 100px;
  padding: 15px 10px 10px 10px;
  box-shadow: 0px 0px 2px white;
}

.Logo__Titulo {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 13px 0px;
  height: 60px;
  width: 310px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 2250px;
  left: 470px;
  border: solid 1px white;
  border-bottom: none;
  box-shadow: 0px 0px 2px white;
}

.Logo__Imagen {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding: 0px 20px 30px 20px;
  height: 400px;
  width: 310px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 2310px;
  left: 470px;
  border: solid 1px white;
  border-top: solid 0px;
  box-shadow: 0px 0px 2px white;
  box-shadow: 0px 0px 2px white;
}
ul {
  list-style: none;
  padding: 0px;
  margin-left: 0px;
}

ul li::before {
  content: "\2022";
  color: white;
  display: inline-block;
  padding-right: 20px;
  font-size: 100px;
  line-height: 15px;
  vertical-align: -20px;
  width: 10px;
}
*/ .caja-mision__Mision,
.caja-Vision__Vision,
.Caja-Filosofia__Filosofia,
.Caja-Soluciona__Solucion,
.Caja-justificacion__justificacion,
.Logo__Titulo,
.Logo__Imagen {
  transition: background-color 0.5s;
}

.caja-mision__Mision:hover {
  background-color: #0a0000e5;
}

.caja-Vision__Vision:hover {
  background-color: #0a0000e5;
}

.Caja-Filosofia__Filosofia:hover {
  background-color: #0a0000e5;
}

.Caja-Soluciona__Solucion:hover {
  background-color: #0a0000e5;
}

.Caja-justificacion__justificacion:hover {
  background-color: #0a0000e5;
}

.Logo__Titulo:hover {
  background-color: #0a0000e5;
}

.Logo__Imagen:hover {
  background-color: #0a0000e5;
}

.footer {
  height: 200px;
  width: 1263px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 2750px;
}

.footer__iMAGEN {
  position: absolute;
  top: 30px;
  left: 590px;
  background: none;
  padding: 10px 20px;
  height: 80px;
  width: 80px;
  box-shadow: 0px 0px 2px white;
}

.footer__iMAGEN,
.footer__Copyright {
  transition: background-color 0.5s;
}

.footer__iMAGEN:hover {
  background-color: rgba(255, 255, 255, 0.248);
}

.footer__Copyright {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 140px;
  left: 290px;
  height: 40px;
  width: 650px;
  padding: 10px 50px;
  background: none;
  border-radius: 7px;
}

.footer__Copyright:hover {
  background-color: rgba(255, 255, 255, 0.248);
}

.footer__IcoTelefono {
  position: absolute;
  left: 150px;
  top: 50px;
  background: rgba(255, 255, 255, 0.515);
  box-shadow: 1px 1px 4px white;
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  border-radius: 8px;
}

.footer__Icoinstagram {
  position: absolute;
  left: 400px;
  top: 50px;
  background: rgba(255, 255, 255, 0.515);
  box-shadow: 1px 1px 4px white;
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  border-radius: 8px;
}

.footer__icoFacebook {
  position: absolute;
  left: 800px;
  top: 50px;
  background: rgba(255, 255, 255, 0.515);
  box-shadow: 1px 1px 4px white;
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  border-radius: 8px;
}

.footer__icotwiter {
  position: absolute;

  left: 1050px;
  top: 50px;
  background: rgba(255, 255, 255, 0.515);
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.515);
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  border-radius: 8px;
}


